*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #333;
}

button{
    width:200px;
    height: 56px;
    border:none;
    background-color: #3CB3AB;
    color: #FAFAFA;
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 40%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

button:hover{
    background-color: #147A73;
    color: #152915;
}


#myTable {
    border-collapse: collapse;
    width: 80%;
    margin: 50px auto;
  }
  
  #myTable th,
  #myTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    color: #FAFAFA;
  }
  
  #myTable th {
    background-color: #3CB3AB;
    text-align: center;
    color: #FAFAFA;
  }
  
  #myTable th:first-child,
  #myTable td:first-child {
    width: 50px;
  }
  
  #myTable th:nth-child(2),
  #myTable td:nth-child(2) {
    width: 200px;
  }
  
  #myTable th:last-child,
  #myTable td:last-child {
    width: 400px;
  }

  @media screen and (max-width:768px){
    #myTable {
        width: 100vw;
      }

      button{
        margin-left: 10%;
      }
  }
  